<%- include('./partials/header.ejs') %>

<h1 id="showH1"><%= recipe.name %></h1>
<h3 id = "showCulture">Culture: <%= recipe.culture %></h3>
<div id = showContainer>
    <img id="showImg" src="<%= recipe.img %>">
    <% let ingredients = recipe.ingredients %>
    <h3 id="ingredientsTitle">Ingredients</h3>
        <ul id="ingredientUL">
            <% for(ingredient of ingredients) { %>
                <li id="ingredientLI"> <%= ingredient %> </li>
            <% } %>
        </ul>
    <% let directions = recipe.directions %>
    <h3 id="directionsTitle">Directions</h3>
    <ol type="1" id="directionUL">
        <% for(direction of directions) { %>
            <li id="directionLI"> <%= direction %> </li>
        <% } %>
    </ol>
    <div id="buttonContainer">
        <button id="showBTN" onclick="window.location.href = '/recipes/<%= recipe.id %>/edit'">Edit Recipe</button>
        <form id = delete action="/recipes/<%= recipe.id %>?_method=DELETE" method="POST">
            <input id = "showBTN" type="submit" value="Delete Recipe" />  
        </form>
    </div>
</div>

<%- include('./partials/footer.ejs') %>