<%- include('./partials/header.ejs') %>

<a href="/recipes">Back to Home Page</a>
<h1><%= recipe.name %></h1>
<div id = container>
    <img src="<%= recipe.img %>">
    <p><%= recipe.culture %></p>
    <p><%= recipe.ingredients %></p>
    <p><%= recipe.directions %></p>
    <button onclick="window.location.href = '/recipes/<%= recipe.id %>/edit'">Edit Product</button>
</div>
<form id = delete action="/recipes/<%= recipe.id %>?_method=DELETE" method="POST">
    <input id = deleteText type="submit" value="DELETE" />  
</form>

<%- include('./partials/footer.ejs') %>